[Unit]
Description=Start ivshmem-server and set permissions
After=network.target

[Service]
ExecStart=/root/ivshmem-start.sh
ExecStop=/root/ivshmem-stop.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target